<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Калькулятор инсульта</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
  <div class="ht">
    </div>
	<h1>Калькулятор инсульта</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
    	<input type="text" name="gender" placeholder="Gender" required="required" /><br>
        <input type="text" name="age" placeholder="AGE" required="required" /><br>
        <input type="text" name="hypertension" placeholder="Hypertension" required="required" /><br>
        <input type="text" name="heart_disease" placeholder="Heart_disease" required="required" /><br>
        <input type="text" name="ever_married" placeholder="Ever_married" required="required" /><br>
        <input type="text" name="work_type" placeholder="Work_type" required="required" /><br>
        <input type="text" name="Residence_type" placeholder="Residence_type" required="required" /><br>
          <input type="text" name="avg_glucose_level" placeholder="Avg_glucose_level" required="required" /><br>
          <input type="text" name="bmi" placeholder="BMI" required="required" /><br>
          <input type="text" name="sex" placeholder="Smoking_status" required="required" /><br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Прогноз</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{pred}}

</body>
</html>
